$color-primary: #41B37F;
$color-secondary: #1E1E2F;
$color-tertiary: #27293D;
$color-white: #FFFFFF;
$color-black: #1E1E2F;
$color-success: #41B37F;
$color-warning: #FFCC33;
$color-danger: #FF6680;
$color-info: #50E6E6;